.titleCarousel {
  padding: 20px 0px 20px 0px;
  justify-content: center;
  display: flex;
  font-size: 32px;
}

.carousel {
  display: flex;
  gap: 80px;
  padding: 20px;
  justify-content: flex-start; /* meglio a sinistra se deve scorrere */
  overflow-x: auto; /* abilita lo scroll orizzontale */
  scroll-snap-type: x mandatory; /* snap sulle card */
  scrollbar-width: none; /* nasconde la scrollbar */
}

.carousel::-webkit-scrollbar {
  display: none; /* nasconde scrollbar */
}

.card {
  position: relative;
  flex: 0 0 auto; /* la card mantiene sempre la sua dimensione */
  width: 300px;
  height: 200px;
  border-radius: 30px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  scroll-snap-align: center; /* si ferma centrata nello scroll */
}

.card.van {
  background-image: url(/immagini/van.jpg);
}

.card.states {
  background-image: url(/immagini/states.jpg);
}

.card.island {
  background-image: url(/immagini/island.jpg);
}

.card.europe {
  background-image: url(/immagini/europe.jpg);
}

.card-text {
  position: absolute;
  bottom: 0px;
  left: 5px;
  right: 5px;
  height: 40px;
  border-radius: 20px;
  background: rgba(0, 123, 123, 0.6);
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
}
